Source: ovpn-exporter
Section: misc
Priority: extra
Maintainer: Serge <mail@sbtraining.net>
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: ovpn-exporter
Architecture: all
Depends: libc6
Description: Package for deploying OpenVPN exporter for Prometheus with config files 
